footer.footer
  img(src="./assets/images/logo_footer.svg" alt="logo").footer__logo
  nav.footer__nav
    ul.footer__list.footer__list--menu
      li.footer__item: a(href="#").footer__link About
      li.footer__item: a(href="#").footer__link Services
      li.footer__item: a(href="#").footer__link Projects
  ul.footer__list.footer__list--social
    li.footer__item: a(href="#").footer__link: img(src="./assets/images/icon-facebook.svg" alt="facebook")
    li.footer__item: a(href="#").footer__link: img(src="./assets/images/icon-instagram.svg" alt="instagram")
    li.footer__item: a(href="#").footer__link: img(src="./assets/images/icon-twitter.svg" alt="twitter")
    li.footer__item: a(href="#").footer__link: img(src="./assets/images/icon-pinterest.svg" alt="pinterest")
  .attribution Challenge by 
    a(href="https://www.frontendmentor.io?ref=challenge" target="_blank").attribution__link Frontend Mentor 
    | Coded by 
    a(href="https://github.com/cqrlosArch").attribution__link Carlos Díaz