header.header
  .navbar
    .brand
      img(src="./assets/images/logo.svg" alt="logo").brand__logo
    button.toggle-menu#toggle-menu
      img(src="./assets/images/icon-hamburger.svg" alt="toggle-menu").toggle-menu
    nav#main-menu.main-menu
      ul.main-menu__list
        li.main-menu__item: a(href="#").main-menu__link About
        li.main-menu__item: a(href="#").main-menu__link Services
        li.main-menu__item: a(href="#").main-menu__link Projects
        li.main-menu__item.main-menu__item--contact: a(href="#").main-menu__link.main-menu__link--contact Contact
  h1.header__title We are creatives
  img(src="./assets/images/icon-arrow-down.svg" alt="arrow")