include ../mixins/gallery-img

section(aria-label="gallery").section.section--gallery
  +gallery-img('image-gallery-milkbottles')
  +gallery-img('image-gallery-orange')
  +gallery-img('image-gallery-cone')
  +gallery-img('image-gallery-sugar-cubes')