//Colors
$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$green: hsl(167, 40%, 24%);
$blue: hsl(198, 62%, 26%);
$footer: hsl(168, 34%, 41%);
$white: hsl(0, 0%, 100%);
$link: hsl(232, 10%, 55%);
$cardTitle: hsl(212, 27%, 19%);
$cardText: hsl(213, 9%, 39%);
$gray: hsl(210, 4%, 67%);
$textTestimony: hsl(213, 9%, 39%);
$bgFooter: hsl(167, 44%, 70%);
